div#general{
	width: 100%;
	height: 3000px;
	background-color: red;
	margin: 0px;
	padding: 0px;
	position: absolute;
	
}

div#cajamedio{
	margin-top: 200px;
	margin-left: 400px;
	margin-bottom: 1000px;
	margin-right: 400px;
	width: 500px;
	height: 500px;
	background-color: purple;
	position: relative;
}

div div#cajapequeña{
	width: 200px;
	height: 200px;
	background-color: yellow;
}